@media only screen and (max-width: 988px) {
  .toggleSidenav {
    display: block;
  }

  .none {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  header .icons-bar span a {
    font-size: 25px;
  }
  header .icons-bar span a i {
    font-size: 25px;
  }
}
@media screen and (max-height: 450px) {
  .none {
    display: none !important;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}