footer{
    position: relative;
    top:950px;
    height: 327px;
    background: #F8F9FA;
    display: flex;
    align-items: center;
    justify-items: center;
    .footer-child{
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-gap: 32px;
            b{
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
            }
            ul{
                display: flex;
                flex-direction: column;
                grid-gap: 25px;
                li{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 24px;
                    color: #231F20;
                }
            }
        }
    }
    .media-bar{
        width: 148px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-gap: 75px;
        .social-bar{
            display: flex;
            grid-gap: 20px;
        }
    }
    .contact{
        display: flex;
        align-items: flex-start;
        span{
            width: 216px;
            a{
                text-decoration: none;
                color:#231F20;
            }
            a:active{
                color:#231F20;
            }
        }
    }
    .subscribe{
        display: flex;
        form{
            display: flex;
            div{
                input{
                    width: 208px;
                    height: 54px;
                    background: #FFFFFF;
                    border-radius: 10px;
                }
                button{
                    width: 64px;
                    height: 54px;
                    background: #CB0F41;
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
    }
}